.add-transactions {
  overflow: hidden;

  .transactions {
    padding: 20px;
    padding-top: 0px;
    overflow-y: scroll;
    height: 100%;
    padding-bottom: 130px;
  }

  .title {
    padding-right: 25px;
    position: relative;
    margin-top: 16px;
    margin-bottom: 14px;
    // position: sticky;
    .btns {
      top: 0px;
      right: 10px;
      position: absolute;
      display: flex;
      gap: 8px;
      button {
        background-color: transparent;
        color: var(--text-color);
      }
    }
    h1 {
      text-align: center;
      font-size: 28px;
    }
  }

  .transaction-item {
    padding: 8px 16px;
    background-color: var(--background-color);
    margin-bottom: 6px;
    border-radius: 8px;
    .top,
    .bottom {
      display: flex;
      justify-content: space-between;
    }
    .added,
    .success,
    .accepted {
      color: green;
    }
    .deducted,
    .rejected {
      color: rgb(255, 86, 86);
    }
    .pending {
      color: #ff990b;
    }
  }
}

.add-transaction-popup {
  position: absolute;
  top: 40%;
  left: 50%;
  width: 90%;
  max-width: 600px;
  transform: translate(-50%, -50%);
  box-shadow: 2px 2px 10px 3px rgba(0, 0, 0, 0.1);
  padding: 14px 20px;
  border-radius: 12px;
  background-color: var(--background-color);
  h2 {
    text-align: center;
    margin-bottom: 8px;
  }
  .btns {
    display: flex;
    justify-content: end;
    gap: 15px;
    margin-top: 20px;

    .cancel-btn {
      background-color: var(--primary-color);
      color: var(--text-color);
    }
  }

  .add-transaction-item {
    background-color: var(--background-color);
    padding: 8px 18px;
    display: flex;
    border-radius: 8px;
    justify-content: space-between;
    margin-bottom: 4px;

    .switch {
      display: flex;
      gap: 15px;
      .switch-item {
        padding: 6px 12px;
        border-radius: 4px;

        &.active {
          background-color: var(--primary-color);
        }
      }
    }

    input {
      background-color: var(--primary-color);
    }
    select {
      width: 170px;
      border: 0;
      padding: 10px;
      border-radius: 6px;
      background-color: var(--primary-color);
      text-align: center;
    }

    .balance-input {
      width: 170px;
      text-align: center;
      font-weight: 600;
    }
  }

  @media (max-width: 600px) {
    left: 50%;
    width: 85%;
    padding: 14px 10px;

    .add-transaction-item {
      margin-bottom: 0px;
      padding: 4px 18px;
      .switch {
        .switch-item {
          padding: 6px 8px;
          font-size: 13px;
        }
      }
      .balance-input,
      select,
      input[type="date"] {
        width: 150px;
      }
    }
  }
}
